{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="profiles">

    {% for profile in profiles %}

        <div class="profile">
            <div class="profile__image"><img src="https://via.placeholder.com/50"></div>
            <div class="profile__content">
                <div class="profile__name">{{ profile.name }}</div>
                <div class="profile__phone">
                    <a href="tel:{{profile.phone}}">{{ profile.phone}}</a>
                </div>
                <div class="profile__email">
                    <a href="mailto:{{profile.email}}">{{ profile.email}}</a>
                </div>
            </div>
        </div>

    {% endfor %}
</div>

{% endblock %}
